@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  /*cursor: url(/images/ice_cursor.png) 2 8, auto;
  cursor: url(/images/ice_cursor.png) 2 8, text;*/
}

body {
  //min-width: 750px;
  //overflow: hidden;
  background-image: url("./images/genshin-impact-26.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin: 1%;
  height: 10.3199174vh;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  background-image: url("./images/elements.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#header1 {
  margin-left: 12%;
  float: left;
  display: block;
  text-align: left;
  line-height: 10.3199174vh;
}

#header2 {
  margin-right: 12%;
  float: right;
  display: block;
  text-align: right;
  line-height: 10.3199174vh;
  clear: right;
}

#friend_box_outline {
  display: block;
  background-color: rgba(72, 72, 72, 0.35);
  height: 82.5593395vh;
  width: 20%;
  margin-left: 2%;
  float: left;
}

#friend_box_background {
  opacity: 0;
  border: 2px solid black;
  transition: all 1s;
  height: 100%;
  width: 100%;
  float: left;
}

#friend_box {
  opacity: 100%;
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
  background-position: 60% 200%;
  background-repeat: no-repeat;
}

#self_box_outline {
  display:block;
  background-color: rgba(72, 72, 72, 0.35);
  height: 82.5593395vh;
  width: 20%;
  margin-left: 2%;
  float: left;
}

#self_box_background {
  opacity: 0;
  border: 2px solid black;
  transition: all 1s;
  height: 100%;
  width: 100%;
  float: left;
}

#self_box {
  opacity: 100%;
  height: 100%;
  width: 100%;
  background-position: 60% 200%;
  background-repeat: no-repeat;
}

#chat_box {
  margin-left: 2%;
  background-color: rgba(72, 72, 72, 0.35);
  width: 52%;
  height: 82.5593395vh;
  float: left;
}

#message_box {
  opacity: 100%;
  width: 100%;
  height: 77.3993808vh;
  margin: 0 auto;
  overflow: auto;
}

#message_write_box {
  opacity: 100%;
  padding: 0 2%;
  width: 85%;
  height: 5.15995872vh;
  font-size: 1.5em;
  outline: none;
  border: 2px solid black;
  border-right: 0;
}

#message_submit {
  opacity: 100%;
  float:right;
  width: 15%;
  height: 5.15995872vh;
  font-size: 1.5em;
  background-color: white;
  border: 2px solid black;
}

#message_submit:hover {
  background-color: lightgray;
}

ul {
  padding: 1% 3%;
}

li {
  list-style-type: none;
  text-align: left;
  background-color: white;
  border: 2px solid black;
  display: block;
  padding: 1% 2%;
  float: left;
  clear: both;
  margin: 1%;
  border-radius: 20px;
  font-size: 1.5em;
  max-width: 90%;
  overflow-wrap: break-word;
  filter: drop-shadow(7px 5px 7px #333);
  transition: all 0.5s ease-out;
}

#fakeboard {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 75%;
  z-index: 2;
}

#login {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  text-align: center;
  z-index: 3;
  border-radius: 10px;
  padding: 1%;
}

#login figure {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

#login h1 {
  margin: 1% 0;
}


#Miko {
  width: 40%;
  height: 80%;
  margin-left: 5%;
  float: left;
  transition: all 1s;
}

#Miko > figure {
  background-image: url("./images/keqing.png");
  background-position: center center;
  background-size: cover;
  margin-bottom: 2%;
}

#Mochi {
  width: 40%;
  height: 80%;
  margin-right: 5%;
  float: right;
  transition: all 1s;
}

#Mochi >figure {
  background-image: url("./images/ganyu.jpg");
  background-position: center top;
  background-size: cover;
  margin-bottom: 2%;
  transition: all 1s;
}

.me {
  float: right;
}

#self_bubble{
  opacity: 0;
  display: block;
  text-align: center;
}

#self_bubble > img {
  width: 70%;
}

#friend_bubble{
  opacity: 0;
  display: block;
  text-align: center;
}

#friend_bubble > img {
  width: 70%;
}

#shiina {
  display: none;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 40%;
  text-align: center;
  transform: scaleX(-1);
}

#shiina > img {
  width: 100%;
}

#together {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  animation-duration: 2.5s;
  z-index: 999;
}

#together > img {
  width: 100%;
}

@keyframes together {
  0% {top: 100%;}
  50% {top: 0;}
  100% {top: 0;}
}

@keyframes together1 {
  0% {top: 0;}
  50% {top: 0;}
  100% {top: 100%;}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  opacity: 0.5;
  width: 10px;
}

.example::-webkit-scrollbar-track {
  display: none;
}

.example::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.25);
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.goneexample::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.goneexample {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.goneexample::-webkit-scrollbar-track {
  display: none;
}

.goneexample::-webkit-scrollbar-thumb {
  display: none;
}

#paimon {
  transition: all 0.5s;
  filter: brightness(0.5);
  position: absolute;
  right: 4%;
  display: inline-block;
  height: 100%;
}

#paimon > img {
  display: block;
  object-fit: contain;
  height: 12vh;
}
